<h1><%= @user.name %></h1>
<%= render "tasks/filter_status" %>
<% if @tasks.present? %>
  <table-1>
    <table-row>
      <table-cell>
        Name
      </table-cell>
      <table-cell>
        Statut
      </table-cell>
    </table-row>
    <% @tasks.each do |task| %>
      <table-row>
        <table-cell>
          <%= link_to task.name, edit_task_path(task) %>
        </table-cell>
        <table-cell>
          <%= task.status %>
        </table-cell>
      </table-row>
    <% end %>
  </table-1>
<% end %>

<%= link_to :projects, projects_path %>
<%= link_to :users, users_path %>
